body{
    background-color: #E49989;
    font-family:Arial, Helvetica, sans-serif ;
}
a{
text-decoration: none;
}
#content{
    background-color: #A797D3;
    width: 75%;
    margin: auto;
    padding: 7px;
}