body {background-color:rgb(210, 179, 139);
    font-family: Arial, Helvetica, sans-serif;

    }
.assignment{
    display:flex ;
    padding: 10px;
}
.assignment img{
    width: 200px;
    padding: -10px;
}


    h1 {
        color: rgb(3, 3, 109)
    }